@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui";
 body{
  background-color: black;
 }

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.league-gothic {
  font-family: "League Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@theme{
  --color-primary1: #DBD0A6
}

.button{
  @apply py-4 px-5 bg-primary1 text-base font-bold text-black cursor-pointer rounded-lg
}
.button-2{
  @apply border-2 border-primary1 hover:bg-primary1 duration-500 hover:text-black cursor-pointer px-3.5 text-base font-bold   py-2 rounded-lg
}
.hero-bg{
  background-image: url('../src/assets/images/hero.png');
  background-position: center;
  background-size: cover;
}
.feature{
  background-image: url('../src/assets/images/feturebg.png');
  background-size: cover;
  background-position: center;
}